<a href="https://colab.research.google.com/github/doyun8606/Exercise_2025/blob/main/44sorted_45sequence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
listData = [42,1,39,27,44,8]
ret1 = sorted(listData)                # listData를 오름차순으로 정렬
ret2 = sorted(listData, reverse=True)  # listData를 내림차순으로 정렬
print(ret1)
print(ret2)
print(listData)

tupleData = ('사과','배','오렌지','수박','참외')
ret = sorted(tupleData)
print(ret)

strData = 'I love python!'
ret = sorted(strData)
print(ret)

population = {'김씨':2834,'이씨':2288,'박씨':1889}
ret = sorted(population)
print(ret)

[1, 8, 27, 39, 42, 44]
[44, 42, 39, 27, 8, 1]
[42, 1, 39, 27, 44, 8]
['배', '사과', '수박', '오렌지', '참외']
[' ', ' ', '!', 'I', 'e', 'h', 'l', 'n', 'o', 'o', 'p', 't', 'v', 'y']
['김씨', '박씨', '이씨']

In [ ]:
listData = [1,2,3,4,5]

tupleData = (1,2,3,4,5)

strData1 = '010-1234-5678'
strData2 = "사랑해요 파이썬!"
strData3 = 'I love python!'\

bstr = b'Hello Python!'