<a href="https://colab.research.google.com/github/doyun8606/Exercise_2025/blob/main/64listpop_65listreverse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [14,5,18,45,10,43]
for _ in range(len(numbers)):
  ret = numbers.pop()
  print(f'pop()으로 추출된 값:{ret}, numbers = {numbers}')

numbers = [14,5,18,45,10,43]
ret = numbers.pop(3)
print(f'pop()으로 추출된 값:{ret},numbers = {numbers}')

pop()으로 추출된 값:43, numbers = [14, 5, 18, 45, 10]
pop()으로 추출된 값:10, numbers = [14, 5, 18, 45]
pop()으로 추출된 값:45, numbers = [14, 5, 18]
pop()으로 추출된 값:18, numbers = [14, 5]
pop()으로 추출된 값:5, numbers = [14]
pop()으로 추출된 값:14, numbers = []
pop()으로 추출된 값:45,numbers = [14, 5, 18, 10, 43]

In [ ]:
numbers = [1,2,3,4,5]
ret = reversed(numbers)
print(list(ret))
print(numbers)

numbers = [1,2,3,4,5]
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]